@use '../util' as *;

.content {
	display: grid;
	grid-template-areas: 
	 'header'
	 'rating'
	 'review'
	 'footer'
	;
	
	max-width: rem(1110);
	margin: 0 auto;

	@include breakpoint(large) {
		grid-template-columns: 40% 1fr;
		grid-template-areas: 
		 'header rating'
		 'review review'
		 'footer footer'
		;
	}
}

.footer	{
	grid-area: footer;

	@include breakpoint(large) {
		display: flex;
		justify-content: center;

		margin-top: 1.25rem;
	}
}
