@use '../util/' as *;

.footer__attribution {
    font-size: rem(16);
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }

    @include breakpoint-down(small) {
      display: none;
  }
}